0 ICON icon.ico
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "DBN Compiler"
      VALUE "FileDescription", "C/C++ implementation of DBN (Design By Numbers) Compiler."
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "DBN Compiler"
      VALUE "LegalCopyright", "Copyright (C) 2018 Dinindu D. Wanniarachchi"
      VALUE "OriginalFilename", "dbn.exe"
      VALUE "ProductName", "DBN Compiler"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END